body {
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

//@font-face {
//  font-family: 'PF Beau Sans Pro';
//  src: url('../../fonts/PFBeauSansPro-Regular.eot');
//  src: url('../../fonts/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
//  url('../../fonts/PFBeauSansPro-Regular.svg') format('svg'),
//  url('../../fonts/PFBeauSansPro-Regular.woff') format('woff'),
//  url('../../fonts/PFBeauSansPro-Regular.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}